

#################################################
## Environment                                  #
#################################################
DOMAIN=""
NEXT_PUBLIC_DOMAIN=""
ENVIRONMENT=""
NEXT_PUBLIC_ENVIRONMENT=""
NODE_ENV=""
ENABLE_EXPERIMENTAL_COREPACK=""

#################################################
## NextAuth                                     #
#################################################

AUTH_TRUST_HOST=""
NEXTAUTH_SECRET=""

#################################################
## Discord                                      #
#################################################

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_CLIENT_TOKEN=""
DISCORD_GUILD_ID=""

#################################################
## Stripe                                       #
#################################################

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_COUPON_ID=""

#################################################
## Mongo                                        #
#################################################

# New monolithic database
MONGO_XERNERX=""
MONGO_LEGACY=""

# Legacy shards (do not delete yet)
MONGO_ZODIAC=""
MONGO_METAMORPHOSIS=""
MONGO_STATUS=""

#################################################
## Github                                       #
#################################################

GITHUB_REPO_OWNER=""
GITHUB_REPO_NAME=""
GITHUB_PAT=""

#################################################
## Postmark                                     #
#################################################

POSTMARK_TOKEN=""

# this is to be kept for now

WS_TOKEN=""
XERNERX_TOKEN=""
MONGO_VIRTUE=""

#################################################
## Vercel Blobs                                 #
#################################################

BLOB_READ_WRITE_TOKEN=""
